/*___________________________________________________________________________________________________________________________*/
/*                                                    Page d'inscription                                                     */
/*___________________________________________________________________________________________________________________________*/

/* Réglages généraux */
.landing {
  width: auto;
}

/* Conteneur principal du formulaire */
.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Formulaire lui-même */
.div-form {
  display: flex;
  justify-content: center;
  text-align: left;
  width: 50%;
}

/* Ensemble du formulaire */
.fieldset-group {
  background-color: white;
  border-radius: 2em;
  border-style: none;
  padding: 10%;
  padding-bottom: 5%;
  width: 60%;
  display: inline;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Ombre plus marquée mais diffusée */
}

/* Label du formulaire */
.Form_label {
  display: flex;
  text-align: left;
}

/* Champs du formulaire */
#formFields {
  text-align: center;
}

.fields-content {
  margin: 1rem 0;
}

/* Input du formulaire */
.Form_input {
  display: block;
  margin: 5px 0;
  width: 96%;
  font-size: 1rem;
  font-weight: bold;
  border-style: none;
  border-bottom: 1px solid black;
  transition: border-bottom-color 0.3s;
}

/* Style lorsqu'un champ est en focus */
.Form_input:focus {
  outline: none;
  border-width: 2px;
  border-bottom-color: var(--orange-action);
}

/* Placeholder des inputs */
input::placeholder {
  opacity: 0.3;
  font-style: italic;
}

/* Sous-titre des sections du formulaire */
.Form_h3_localite {
  display: flex;
  text-align: left;
  color: var(--orange-action);
}

/* Bouton "Soumettre" du formulaire */
.Form_CTA_secondaire {
  background-color: var(--blanc-fixe);
  border-width: 2px;
  border-style: solid;
  border-color: var(--orange-action);
  border-radius: 50em;
  color: var(--orange-action);
  padding: 5px 10px;
  width: 80%;
  height: 3%;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 2px;
  transition: transform 0.3s ease-in-out;
}

/* Style du bouton au survol */
.Form_CTA_secondaire:hover {
  transform: scale(1.05);
  background-color: var(--blanc-fixe);
}

/* Titre des sections du formulaire */
.h2-action {
  font-size: 2rem;
  color: var(--orange-action);
  font-weight: bold;
  text-align: center;
  margin: 1.5em 0;
}

/* Style pour le select Nombre de localités */
#nombreLocalites, .city_select {
  display: block;
  margin: auto; /* Ajout de la marge automatique pour centrer */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%; /* Réduction de la largeur pour éviter le débordement */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* Réduction de la taille de la police */
  padding: 6px; /* Réduction de l'espacement intérieur */
  background-color: #fff;
  transition: border-color 0.3s;
}

#nombreLocalites:focus, .city_select:focus {
  outline: none;
  border-color: var(--orange-action);
}

/* Style pour l'input Code postal */
.codePostal {
  display: block;
  margin: auto; /* Ajout de la marge automatique pour centrer */
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%; /* Réduction de la largeur pour éviter le débordement */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px; /* Réduction de la taille de la police */
  padding: 6px; /* Réduction de l'espacement intérieur */
  background-color: #fff;
  transition: border-color 0.3s;
}

.codePostal:focus {
  outline: none;
  border-color: var(--orange-action);
}


