/*___________________________________________________________________________________________________________________________*/
/*                                                          forms.css                                                        */
/*___________________________________________________________________________________________________________________________*/
.landing
{
    width: auto;
}

/*___________________________________________________________________________________________________________________________*/
/*                                                    Page d'inscription                                                     */
/*___________________________________________________________________________________________________________________________*/
.form-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .div-form
  {
    display: flex;
    justify-content: center;
    text-align: left; /* Alignement à gauche du texte à l'intérieur du formulaire */
    width: 30%;
  }

  .form-text
  {
    text-align: center;
  }
  
/*__________ Ensemble du formulaire __________*/
.fieldset-group /*Attention*/
{
    background-color: white;
    border-radius: 2em;
    border-style: none;

    padding: 10%;
    padding-bottom: 5%;
    width: 70%;


    display: inline;
    justify-content: center;
    align-items: center;
}

/*___________ Label du formulaire ___________*/
.Form_label
{
    display: flex;
    text-align: left;
}

#formFields
{
    text-align: center;
}

/*___________ Input du formulaire ___________*/
.Form_input {
  display: block;
  margin-bottom: 5px;
  width: 96%;
  border-style: none;
  border-bottom: 1px solid black;
  transition: border-bottom-color 0.3s;
}

.Form_input:focus {
  outline: none;
  border-width: 2px;
  border-bottom-color: var(--orange-action);
}

/*____________ H3 du formulaire ____________*/
.Form_h3_localite
{
    display: flex;
    text-align: left;
}