/*___________________________________________________________________________________________________________________________*/
/*                                                         header.css                                                        */
/*___________________________________________________________________________________________________________________________*/


header
{
    width: auto;
    top: 0;
}

.nav-logo
{
    width: 6.25rem;
    height: 1.56rem;
}

.navbar
{
    display: flex;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    position: fixed;
    z-index: 100;
    justify-content: space-between;

    gap: 30px;
    align-items: center;

    background-color: var(--blanc-fixe-nav);
    padding-left: 30px;
    padding-right: 0;

    box-shadow: 5px 1px 10px rgba(29, 29, 29, 0.3);
}

.nav-links {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 3vw;
    list-style: none;
    padding-left: 0;
}

ul nav a
{
    color: var(--noir-fixe);
    font-weight: bold;
    text-decoration: none;
    align-items: center;
}

ul nav a:hover
{
    color: var(--orange-action);
}

.user-icon {
    width: 2.7rem;
    height: 2.7rem;
    margin-right: 2rem;
}