/*___________________________________________________________________________________________________________________________*/
/*                                                         header.css                                                        */
/*___________________________________________________________________________________________________________________________*/


header
{
    width: 100vw;
    top: 0;
}

.navbar-small, .navbar-big
{
    display: flex;
    /* top: 0;
    left: 0; */
    width: 94vw/*calc(100% - 30px)*/;
    position: fixed;                    /* Keep navbar when scrolling */
    z-index: 100;
    justify-content: space-between;     /* Make some space beetween images and links */

    gap: 1.5rem;
    align-items: center;

    background-color: var(--blanc-fixe-nav);
    padding-left: 3vw;
    padding-right: 3vw;

    box-shadow: 5px 1px 10px rgba(29, 29, 29, 0.3);
}

.nav-logo
{
    width: 6.25rem;
    height: 1.56rem;
}

.nav-links{
    display: inline-flex;
    align-items: center;        /* Center in heigh*/
    text-align: center;         /* Center in width*/
    font-weight: bold;
    gap: 1rem;
    list-style: none;
    color: var(--noir-fixe);
    padding-left: 0; 
}

nav ul a
{
    color: var(--noir-fixe);
    text-decoration: none;
}

nav ul a:hover
{
    color: var(--orange-action);
}

.user-icon {
    width: 2.7rem;
    height: auto;
}

nav #scrolling-menu-header {
    display: none;
    font-size: 3rem;
    color: var(--orange-action);
    cursor: pointer;
}

nav #second-nav-links a {
    
}

