/*___________________________________________________________________________________________________________________________*/
/*                                              Importation des fichiers CSS                                                 */
/*___________________________________________________________________________________________________________________________*/

/*______Header______*/
@import url('header.css');

/*______Footer______*/
@import url('footer.css');

/*_______Forms______*/ 
/*A revoir pour factoriser car conflit entre connexion et création*/
@import url('forms.css');

/*_______Home_______*/
@import url('homePage.css');

/*______Errors______*/
/*@import url('errors.css');*/

/*____Responsive____*/
@import url('responsive.css');

/*_______Table_______*/
@import url('table.css');


/*___________________________________________________________________________________________________________________________*/
/*                                                          main.css                                                         */
/*___________________________________________________________________________________________________________________________*/

/*____Variables____*/
html
{
    --orange-action: rgba(255, 125, 0, 1);          /*Main color - Action color*/
    --orange-clair: rgba(255, 140, 66, 1);          /*Variation main color - light*/
    --orange-fond: rgba(252, 221, 201, 1);          /*Variation main color - pastel*/

    --blanc-fixe: rgba(246, 246, 246, 1);           /*Main white - background color*/ 
    --blanc-fixe-nav: rgba(246,246,246, 0.8);       /*Variation white - navbar*/
    --gris-clair: rgb(234, 234, 234, 1);            /*Variation white - footer & items background*/

    --noir-fixe: rgba(29, 29, 29, 1);               /*Main black - text color*/

/*______Fonts______*/
    font-family: "DM Sans", sans-serif;

/*_______Body______*/
    height: 100%;
    margin: 0;
    padding: 0;  
}

body
{
    width: auto;
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

	background-color: var(--blanc-fixe);
}

header, footer {
    flex-grow: 0;
    flex-shrink: 0;
}

.Content {
    flex-grow: 1;
}

/*_______CTA_______*/
.CTA_important
{
    width:max-content;
    display: inline-block;

    padding: 0.9rem 2rem;
    margin: 0.6rem 1.25rem;

    border-width: 0.19rem;
    border-style: solid;
    border-image-slice: 1;
    border-image-repeat: stretch;

    background-color: white;
    border-image: linear-gradient(to right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3));

    color: var(--noir-fixe);
    
    text-align: center;
    text-decoration: none;

    font-size: 1rem;
    
    transition: transform 0.3s ease-in-out;
}
.CTA_important:hover
{
    transform: scale(1.1); /* Augmentez la valeur selon votre préférence */
}

.CTA_secondaire
{
    width: 40%;
    display: inline-block;

    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    
    padding: 0.6em 1.25em;
    margin: 0.25em 0.125em;

    border-width: 0.18em;
    border-style: solid;
    border-radius: 50em;
    border-image-slice: 1;
    border-color: var(--orange-action);
    
    background-color: var(--blanc-fixe);
    color: var(--orange-action);

    transition: transform 0.3s ease-in-out;
}
.CTA_secondaire:hover
{
    transform: scale(1.05); /* Augmentez la valeur selon votre préférence */
}

/* Bouton formulaire connexion Brieuc, à mêtre à jour en fonction du CTA définitif*/
/* Nécessite d'uniformiser les formulaire, il faudra donc modifier dans les fichiers :*/
    /* Soit inscription.html (CTA-important ou secondaire)*/
    /* Soit connexion.html (CTA-button)*/

.CTA-button
{
    display: inline;
    font-weight: bold;
    font-size: 1em;
    width: 12.5rem;
    height: auto;
    margin: 0.6rem;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding: 0.75rem 1.25rem;
    position: relative;
    background-color: var(--blanc-fixe);
    border-radius: 3rem;
    overflow: hidden;
    border: 0.2rem solid;
    border-color: #FF7D00;
    cursor: pointer;
    transition: .5s ease;
}
 
.CTA-button:hover
{
    color: var(--blanc-fixe);
    background-color: #FF7D00;
    transform: translateY(-2px);
}