.stage-details{
    display: block;
}
.stage-actions {
    display: block;
    margin: 1rem;
    margin-right: 3rem;
    float: right;
    font-size: 1.5rem;
    font-style: weight;
}
.stage-title {
    display: flex ;
    margin-top: 1rem;
    justify-content: center;
}
#internshipTitle{
    padding: 0em;
    width: auto;
    height: 1.5em;
}

.descr-block {
    padding: 0rem 2rem;
}

.details-list ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
}
.details-list .data-list input{
    font-size: 0.8rem;
    width: 8rem;
    height: 1.5em;
}

.details-wrapper{
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-around;
    align-items: center;

    --width-right-part: 30vw;
}

.job-description .textarea{
    width: 50vw;
    height: 30vh;
}
.skills .textarea{
    width: var(--width-right-part);
    height: 15vh;
}

.details-list .buttons{
    display: flex;
    justify-content: center;
}

.details-list .right-part {
    display: flex;
    flex-direction: column;
}


.company-image img{
    width: var(--width-right-part);
    height: auto;
}

.company-name{
    display: flex ;
    justify-content: center;
    padding: 0.4rem;
}

.table td{
    font-size: 1rem;
}

.internship-interactivity{
    display: flex;
    justify-content: space-between;
    margin: 1.3rem;
}

thead td{
    font-weight: bold;
}

.fa-solid{
    color: var(--noir-fixe);
}
.close .fa-solid{
    color: var(--orange-action);
}
.fa-solid:hover{
    color: var(--orange-action);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
}