.stage-details{
    display: block;
}
.stage-actions {
    display: block;
    margin: 1rem;
    margin-right: 3rem;
    float: right;
    font-size: 1.5rem;
    font-style: weight;
}
.stage-title {
    display: flex ;
    margin-top: 0.5rem;
    justify-content: center;
}
.stage-title textarea{
    padding: 0.25em;
    height: 2.5rem;
}

.descr-block {
    padding: 0rem 2rem;
}

.details-list ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}
.details-list ul li{
    font-size: 0.8rem;
    width: 8rem;
}

.details-wrapper{
    display: flex;
    padding: 1rem 0rem;
    justify-content: space-around;
    align-items: center;

    --width-right-part: 30vw;
}

.job-description textarea{
    width: 50vw;
    height: 30vh;
}
.skills textarea{
    width: var(--width-right-part);
    height: 15vh;
}

.details-list .buttons{
    display: flex;
    justify-content: center;
}

.details-list .right-part {
    display: flex;
    flex-direction: column;
}


.company-image img{
    width: var(--width-right-part);
    height: auto;
}