/*___________________________________________________________________________________________________________________________*/
/*                                                       responsive.css                                                      */
/*___________________________________________________________________________________________________________________________*/

/*____Max-width = 768px____*/

@media screen and (max-width: 768px)
{
    /*________ homePage __________*/
    :root {
        font-size: 14px;
    }

    .big-links .nav-links{
        display: none;
    }
    .big-links .scrolling-menu #nav-menu-header{
        display: block;
    }

    /* .big-links .nav-links{
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }
    nav > #nav-menu-header:hover .nav-links{
        display: flex;
        flex-flow: column wrap;
    }
    .navbar-big .nav-links li{
        flex: 1 1 auto;
        text-align: left;
    }
    .navbar-big .nav-links a{
        padding: 10px;
        border-bottom: none;
    }
    .navbar-big .nav-links a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    } */

    .landing-articles{
        --article-padding-left: 3%;
        --article-padding-right: 3%;
    }

    .articles-pict_right, .articles-pict_left { /*Ok*/
        display: block;
        padding-left: var(--article-padding-left);
        padding-right: var(--article-padding-right);
    }
    
    .article-picture { /*Ok*/
        display: block;
        width: 94%;
        height: auto;
        margin: auto;
    }

    .articles-pict_left .article-picture{
        display: none; 
    }

    .article-picture-responsive{
        display: block; 
        width: 94%;
        height: auto;
        margin: auto;
    }
    
    .articles-text { /*Ok*/
        width: calc(100%-(
            var(--article-padding-right)
            +var(--article-padding-left)));
    }
    
    .footer-list{
        display: block;
    }
    
    /*_________ Errors ___________*/ /*Source : pages d'erreurs*/
    h1
    {
        font-size: 48px;
    }

    h2
    {
        font-size: 24px;
    }
}




/*____Max-width = 480px____*/

@media screen and (max-width: 480px) 
{
    /*________ homePage __________*/
    :root {
        font-size: 10px;
    }

    .small-links .nav-links{
        display: none;
    }
    .small-links #scrolling-menu-header{
        display: block;
    } 
    /* nav #second-nav-links, nav #second-nav-links a {
        display: flex;
    } */
    

    /*_________ Errors ___________*/ /*Source : pages d'erreurs*/
    h1
    {
        font-size: 32px;
    }

    h2
    {
        font-size: 18px;
    }
}