/*___________________________________________________________________________________________________________________________*/
/*                                                       responsive.css                                                      */
/*___________________________________________________________________________________________________________________________*/

/*____Max-width = 768px____*/

/*Source : pages d'erreurs*/
@media screen and (max-width: 768px)
{
    h1
    {
        font-size: 48px;
    }

    h2
    {
        font-size: 24px;
    }
}




/*____Max-width = 480px____*/

/*Source : pages d'erreurs*/
@media screen and (max-width: 480px) {
    h1
    {
        font-size: 32px;
    }

    h2
    {
        font-size: 18px;
    }
}