/*____________________________________________________________________________________________________________*/
/*                                              VARIABLES                                                     */
/*____________________________________________________________________________________________________________*/
html
{

/*_____________________________________________ Couleurs _____________________________________________*/

    --orange-clair: rgba(255, 140, 66, 1);          /* */
    --orange-action: rgba(255, 125, 0, 1);          /*Couleur d'action - notamment les CTA*/
    --blanc-fixe: rgba(246, 246, 246, 1);           /*Blanc cassé pour background*/ 
    --noir-fixe: rgba(29, 29, 29, 1);               /*Couleur des textes*/
    --orange-fond: rgba(252, 221, 201, 1);          /*Orange pastel pour quelques éléments de second plan*/

    --gradient-color1: #FF7D00;                     /*couleur la plus a gauche*/        
    --gradient-color2: #F79C43;                     /*couleur au centre*/
    --gradient-color3: #FFA800;                       /*couleur la plus a droite*/
/*
Définition du gradient :
linear-gradient(to right, var(--gradient-color1), var(--gradient-color2), var(--gradient-color3));
*/

font-family: 'helvetica';
}

body
{
	background-color: var(--blanc-fixe);
    margin: 0px;
}


/*____________________________________________________________________________________________________________*/
/*                                               HOME PAGE                                                    */
/*____________________________________________________________________________________________________________*/

#nav-logo
{
    width: 100px;
    height: 25px;
}

.navbar
{
    display: flex;
    /*width: 100%;*/
    height: 40px;

    gap: 30px;
    align-items: center;
    padding: 8px 98px 8px;

    background-color: var(--variable-collection-blanc-fixe);

    /*border-bottom:solid 1px var(--noir-fixe);*/
}

nav a
{
    color: var(--noir-fixe);
    text-decoration: none;
    align-items: center;
}

nav a:hover
{
    color: var(--orange-action);
}

/*_______________________________________________ Landing _______________________________________________*/

.landing
{
    width: 100%;
}

/*___________________________________________ Image de fond ___________________________________________*/
#landing-pictureBG
{
    width: 100%;
    height: 100%;
}

#picture
{
    width: 100%;
}

/*____________________________________________ Bloc stats ____________________________________________*/

.landing-stats
{
    --stat-block-heigh: 100%;
    --stat-block-wigth: 30%;
    --stat-block-top: 75%;
    --stat-block-left:20%;
    --block-translate-l: -50%;
    --block-translate-r: -50%; /*=-(stat-block-top)+20%*/

    width: 100%;
    height: 150px;

    color: white;

    margin-top: -5px;

    background-color: var(--orange-action);
    display: flex;
    padding: 10px;
}

.stats-block{
    display: block;
    text-align: center;
    font-weight: bold;
}

.stats-number {
    font-size: 3em;
}

.stats-text {
    font-size: 1.2rem;
}

#stats-students {
    position: relative;
    height: var(--stat-block-heigh);
    width: var(--stat-block-wigth);
    top: var(--stat-block-top);
    left: var(--stat-block-left);
    transform: translate(var(--block-translate-l),var(--block-translate-r));
}

#stats-companies {
    position: relative;
    height:var(--stat-block-heigh);
    width: var(--stat-block-wigth);
    top: var(--stat-block-top);
    left: var(--stat-block-left);
    transform: translate(var(--block-translate-l), var(--block-translate-r));
}

#stats-pilotes {
    position: relative;
    height: var(--stat-block-heigh);
    width: var(--stat-block-wigth);
    top: var(--stat-block-top);
    left: var(--stat-block-left);
    transform: translate(var(--block-translate-l), var(--block-translate-r));
}

/* To DO List :
    - Mise en forme des textes et des chiffres
*/






